﻿


<div class="fixed-bottom" style="z-index:98 !important;">
  <div style="  margin-left:50%;margin-right:0.5%; margin-bottom:1.5%" class=" row  justify-content-end" >

    <ul class="pagination " >
      <li class="page-item"  [class.disabled]="page === 1 "><a class="page-link bg-primary text-white" (click)="prev()" 
        [ngClass]="{
          'bg-primary':page !== 1,
          'bg-secondary':page === 1
        }"><<</a></li>
      <li class="page-item"  [class.disabled]="page === totalPages || totalPages===0 "><a class="page-link  bg-primary text-white" (click)="next()"
        [ngClass]="{
          'bg-primary':page !== totalPages && totalPages!==0,
          'bg-secondary':page === totalPages || totalPages===0
        }" >>></a></li>
    </ul>
  </div>
</div>