﻿<div class="container-fluid   justify-content-md-center">
    <div class="row">
        <div class="col-xs-6">
            <div class="wrapper ">

                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header d-flex justify-content-center">
                        <h3>Sorting</h3>
                    </div>

                    <!-- Sidebar Links -->
                    <!-- <ul class="list-unstyled components">
                        <div class="container  justify-content-md-center">

                            <div class="col col-md-12" *ngIf="showReservations">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('NoSort')"
                                        value="No" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
                                    <label class="custom-control-label" for="defaultGroupExample1">No Sorting</label>
                                </div>


                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('High')"
                                        value="Edited" id="defaultGroupExample2" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample2">Highest price</label>
                                </div>

                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('Low')"
                                        value="Approved" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample3">Lowest price</label>
                                </div>
                            </div>
                        </div>
                    </ul> -->
                    <ul class="list-unstyled components" id="list" #list>
                        <div id="list" #list>
                            <li>
                                <div class="border border-primary"><a href="#" data-toggle="modal"
                                        data-target="#amenityModal" class="text-center">Add
                                        Amenity</a></div>
                            </li>
                            <!--   <li>
                                <div class="border border-primary"><a href="#" (click)="getDisabledDates()"
                                        data-toggle="modal" data-target="#reservationModal"
                                        class="text-center">Rent Apartment</a></div>
                            </li> -->
                        </div>
                    </ul>


                </nav>

            </div>
        </div>

        <div class="col" id="main">
            <div class="row">
                <div class="col col-md-2">
                    <h4 class="text-primary mt-1" style="margin-left:0%">
                        <small>Amenities</small>
                    </h4>
                </div>
            </div>


            <div *ngIf="showAmenitiesWarning">
                <p class="text-warning">There are no Amenities</p>
            </div>
            <div>
                <table class="table  table-hover mt-2" *ngIf="showAmenities">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let amenity of amenities ; let i = index">
                            <th scope="row">{{pageSize*(pageIndex-1)+i+1}}</th>
                            <td>{{amenity.Type}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="editAmenity(amenity,i)"
                                    data-toggle="modal" data-target="#editAmenityModal">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteamenity(amenity)">Delete</button>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class=" row justify-content-md-center" *ngIf="amenities!=null && amenities.length>0">

                    <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event">
                    </app-pager>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- amenityModal -->
<div class="modal fade" id="amenityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Amenity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="container-fluid ">
                                <form class="needs-validation pt-3 pb-5" [formGroup]="addAmenityForm" #f="ngForm"
                                    (ngSubmit)="onSubmit(f.value, f)" novalidate>
                                    <div class=" row pt-3 justify-content-md-center">
                                        <div class="col-sm-12">
                                            <div class="form-group justify-content-md-center">
                                                <div class="row">
                                                    <label for="Type" class="col-sm-12 col-form-label ">Type</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="Type" formControlName="Type"
                                                            class="form-control  is-valid" id="Type"
                                                            placeholder="Amenity Type" [ngClass]="{
                                                              'is-valid':Type.valid && (Type.dirty || Type.touched),
                                                              'is-invalid':Type.invalid && (Type.dirty || Type.touched)
                                                            }">
                                                        <div class="invalid-feedback"
                                                            *ngIf="Type.errors && (Type.dirty || Type.touched)">
                                                            <p *ngIf="Type.errors.required">Type is required
                                                            </p>
                                                            <p *ngIf="Type.errors.maxlength">Type is too long,
                                                                delete
                                                                {{Type.errors.maxlength.actualLength
                                                              - Type.errors.maxlength.requiredLength}} characters
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" id="addBtn" [disabled]=" !f.valid"
                                                type="submit">Add
                                                Amenity</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col col-md-5" style="margin-right:16%" *ngIf="addAmenityProgress">
                        <div class="progress" style="
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- editAmenityModal -->
<div class="modal fade" id="editAmenityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Amenity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="container-fluid " *ngIf="editFormVisible">
                                <form class="needs-validation pt-3 pb-5" [formGroup]="editAmenityForm" #f="ngForm"
                                    (ngSubmit)="onEditSubmit(f.value, f)" novalidate>
                                    <div class=" row pt-3 justify-content-md-center">
                                        <div class="col-sm-12">
                                            <div class="form-group justify-content-md-center">
                                                <div class="row">
                                                    <label for="Type" class="col-sm-12 col-form-label ">Type</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="Type" [ngModel]="selectedAmenity.Type"
                                                            formControlName="EditType" class="form-control  is-valid"
                                                            id="Type" placeholder="Amenity Type" [ngClass]="{
                                                              'is-valid':EditType.valid && (EditType.dirty || EditType.touched),
                                                              'is-invalid':EditType.invalid && (EditType.dirty || EditType.touched)
                                                            }">
                                                        <div class="invalid-feedback"
                                                            *ngIf="EditType.errors && (EditType.dirty || EditType.touched)">
                                                            <p *ngIf="EditType.errors.required">Type is required
                                                            </p>
                                                            <p *ngIf="EditType.errors.maxlength">Type is too long,
                                                                delete
                                                                {{EditType.errors.maxlength.actualLength
                                                              - EditType.errors.maxlength.requiredLength}} characters
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" id="addBtn" [disabled]=" !f.valid"
                                                type="submit">Edit
                                                Amenity</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col col-md-5" style="margin-right:16%" *ngIf="editAmenityProgress">
                        <div class="progress" style="
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>