﻿<div class="container-fluid   justify-content-md-center">
    <div class="row">
        <div class="col-xs-6">
            <div class="wrapper ">

                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header d-flex justify-content-center" >
                        <h3>Search</h3>
                    </div>

                    <!-- Sidebar Links -->

                    <div class="container">
                        <div class="row  justify-content-center">
                            <!--  <div class=" col col-md-auto ">
                                        <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                                          CHECK-IN - CHECK-OUT
                                        </div>
                                      </div> -->
                            <div class="col col-md-10">
                                <label for="DateInput">Check-in - Check-out:</label>
                            </div>

                            <!-- <div class=" col col-md-auto ">
                                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Select
                                                Dates</button>
                            
                            
                                            </div> -->
                            <div class=" col col-md-auto ">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="DateInput" [attr.disabled]="true"
                                        data-toggle="modal" data-target="#searchModal" [(ngModel)]="dateString"
                                        placeholder="Check-In - Check-Out" aria-label="Check-In - Check-Out"
                                        aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                            data-toggle="modal" data-target="#searchModal"><i
                                                class="fa fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </div>

                            <form class="needs-validation " [formGroup]="addSearchForm" #f="ngForm"
                                (ngSubmit)="onSubmit( f)" novalidate>
                                <div class="form-group row  justify-content-md-center">
                                    <div class="col col-md-10">
                                        <label for="CityInput">City:</label>
                                    </div>
                                    <!--  <div class=" col col-md-auto ">
                                            <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                                              City
                                            </div>
                                          </div> -->
                                    <div class="col col-md-10">
                                        <input type="text" name="City" formControlName="City"
                                            class="form-control  is-valid" id="CityInput" placeholder="City" [ngClass]="{
                                          'is-valid':City.valid && (City.dirty),
                                          'is-invalid':City.invalid && (City.dirty || City.touched)
                                        }">
                                        <div class="invalid-feedback"
                                            *ngIf="City.errors && (City.dirty || City.touched)">
                                            <p *ngIf="City.errors.maxlength"><small>City is too long, delete {{City.errors.maxlength.actualLength
                                              - City.errors.maxlength.requiredLength}} characters </small></p>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <div class="col col-md-11">
                                <label for="PriceSlider">Price Range:</label>
                            </div>
                            <div class="col col-md-11">
                                <ng5-slider [(value)]="minPriceValue" id="PriceSlider" [(highValue)]="maxPriceValue"
                                    [options]="PriceSlideOptions" (userChangeEnd)="GetNewPriceRange($event)">
                                </ng5-slider>
                            </div>

                            <div class="col col-md-11">
                                <label for="GuestSlider">Number of Guests:</label>
                            </div>
                            <div class="col col-md-11">
                                <ng5-slider [(value)]="numOfGuests" id="GuestSlider" [options]="GuestSlideOptions"
                                    (userChangeEnd)="GetNumOfGuests($event)"></ng5-slider>
                            </div>

                            <div class="col col-md-11">
                                <label for="RoomSlider">Number of Rooms:</label>
                            </div>
                            <div class="col col-md-11">
                                <ng5-slider [(value)]="numOfRooms" id="RoomSlider" [options]="RoomSlideOptions"
                                    (userChangeEnd)="GetNumOfRooms($event)"></ng5-slider>
                            </div>
                            <div class="col col-md-5">
                                <button type="button" class="btn btn-primary"
                                    (click)="GetAllApartmentsSearch()" [disabled]="!searchChecked" >Search</button>
                            </div>
                            <div class="col col-md-5">
                                <label class="switch">
                                  <input type="checkbox"
                                      (change)="setCheckBoxHost($event)"
                                      [checked]="searchChecked">
                                  <span class="slider round"></span>
                              </label>
                              </div>

                        </div>
                    </div>

                </nav>

            </div>
        </div>

        <div class="col" id="main">
            <div class="row">
                <div class="col col-md-2">
                    <h4 class="text-primary float-left mt-1">
                        <small>Apartments</small>
                    </h4>
                </div>
                <div class="col col-md-10">

                    <div class="col col-md-3  float-left mt-1">
                        <div *ngIf="dropdownVisible">
                            <ng-multiselect-dropdown [placeholder]="'Status'" [data]="dropdownApartmentStatuses"
                                [(ngModel)]="selectedApartmentStatus" [settings]="dropdownApartmentStatusesSettings"
                                (onSelect)="onSelectApartmentStatus($event)"
                                (onDeSelect)="onDeSelectApartmentStatus($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div *ngIf="!dropdownVisible">
                            <button class="btn btn-primary block" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>

                    <div class="col col-md-3  float-left mt-1">
                        <div *ngIf="dropdownVisible">
                            <ng-multiselect-dropdown [placeholder]="'Type'" [data]="dropdownApartmentTypes"
                                [(ngModel)]="selectedApartmentType" [settings]="dropdownApartmentTypesSettings"
                                (onSelect)="onSelectApartmentType($event)"
                                (onDeSelect)="onDeSelectApartmentType($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div *ngIf="!dropdownVisible">
                            <button class="btn btn-primary block" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>

                    <div class="col col-md-3  float-left mt-1">
                        <div *ngIf="dropdownVisible">
                            <ng-multiselect-dropdown [placeholder]="'Amenities'" [data]="dropdownListAmenities"
                                [(ngModel)]="selectedAmenities" [settings]="dropdownAmenitiesSettings"
                                (onSelect)="onSelectAmenity($event)" (onSelectAll)="onSelectAllAmenities($event)"
                                (onDeSelectAll)="onDeSelectAllAmenities($event)"
                                (onDeSelect)="onDeSelectAmenity($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div *ngIf="!dropdownVisible">
                            <button class="btn btn-primary block" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>

                    <div class="col col-md-3 float-left mt-1">
                        <div *ngIf="dropdownVisible">
                            <ng-multiselect-dropdown [placeholder]="'Price'" [data]="dropdownPricesSort"
                                [(ngModel)]="selectedPriceSort" [settings]="dropdownPricesSortSettings"
                                (onDeSelect)="onDeSelectPriceSort($event)" (onSelect)="onSelectPriceSort($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div *ngIf="!dropdownVisible">
                            <button class="btn btn-primary block" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>
                </div>


            </div>


            <div *ngIf="showApartmentsWarning">
                <p class="text-warning">There are no Apartments</p>
            </div>
            <div class="row">
                <table class="table  table-hover mt-2" *ngIf="showApartments">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Rooms</th>
                            <th scope="col">Guests</th>
                            <th scope="col">Check In</th>
                            <th scope="col">Check Out</th>
                            <th scope="col">Price</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Disabled</th>
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let apartment of apartments ; let i = index">
                            <th scope="row">{{pageIndex*(pageIndex-1)+i+1}}</th>
                            <td>{{apartment.NumOfRooms}}</td>
                            <td>{{apartment.NumOfGuests}}</td>
                            <td>{{apartment.CheckInTime.slice(11,16)}}</td>
                            <td>{{apartment.CheckOutTime.slice(11,16)}}</td>
                            <td>{{apartment.Price}}</td>
                            <td>{{apartment.Grade}}</td>

                            <td>
                               <!--  <p [ngStyle]="{'color': apartment.Status? 'green' : 'red'}">{{true == apartment.Status ? 'No' : 'Yes'
                            }}</p> -->
                            <label class="switch">
                                <input type="checkbox" [disabled]="apartmentCheckBoxDisabled" (change)="setCheckBoxApartment(apartment)"
                                  [checked]="apartment.Status!=true">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                    [routerLink]="['/apartmentPage',apartment.Id]">View</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                [routerLink]="['/editApartment',apartment.Id]">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteApartment(apartment,i)">Delete</button>
                            </td>

                        </tr>


                    </tbody>
                </table>
                <div class=" row justify-content-md-center" *ngIf="apartments!=null && apartments.length>0">

                    <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event">
                    </app-pager>
                </div>
            </div>



        </div>

    </div>


</div>

<!-- apartmentModal -->
<div class="modal fade" id="apartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="!showApartmentProgress">
                    {{null != apartment ? null != apartment.Location ? null != apartment.Location[0].Address ? apartment.Location[0].Address[0].StreetAndNumber: 'no data' : 'no data' : 'no data' }},
                    {{null != apartment ? null != apartment.Location ? null != apartment.Location[0].Address ? apartment.Location[0].Address[0].City: 'no data' : 'no data' : 'no data' }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col">
                            <table class="table" *ngIf="!showApartmentProgress">
                                <thead>
                                    <tr>
                                        <th scope="col">Apartment Data</th>
                                        <th scope="col"></th>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <th scope="row">Apartment ID:</th>
                                        <td>{{null != apartment ? apartment.Id: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Number of Rooms:</th>
                                        <td>{{null != apartment ? apartment.NumOfRooms: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Number of Guests:</th>
                                        <td>{{null != apartment ? apartment.NumOfGuests: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Check In:</th>
                                        <td>{{null != apartment ? apartment.CheckInTime.slice(11,16): 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Check Out:</th>
                                        <td>{{null != apartment ? apartment.CheckOutTime.slice(11,16): 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Price per Night:</th>
                                        <td>{{null != apartment ? apartment.Price: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Grade:</th>
                                        <td>{{null != apartment ? apartment.Grade: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Type:</th>
                                        <td>{{null != apartment ?apartment.ApartmentType ? apartment.ApartmentType.Type: 'no data': 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Disabled:</th>
                                        <td>
                                            <div class="col-6">
                                                <p
                                                    [ngStyle]="{'color': (apartment!=null && true == apartment.Status) ? 'green' : 'red'}">{{(apartment!=null
                                  && true == apartment.Status) ? 'No': 'Yes'}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col">
                            <div class="shadow p-3 mb-5 bg-white rounded" *ngIf="!showApartmentProgressPic">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators"
                                            *ngFor="let picture of apartmentPictures; let i = index" data-slide-to="i"
                                            [class.active]="isFirst"></li>
                                    </ol>

                                    <div class="carousel-inner">

                                        <div class="carousel-item" data-slide-to="i+1"
                                            *ngFor="let picture of apartmentPictures; let isFirst = first; let i = index"
                                            [class.active]="isFirst">

                                            <img class="d-block w-100" style="width:300px; height:300px" [src]="img[i]"
                                                alt="">

                                        </div>

                                    </div>

                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>

                                </div>
                            </div>
                        </div>








                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col col-md-5" style="margin-right:16%">
                    <div class="progress" style="
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;" *ngIf="showApartmentProgressPic">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" (click)="DeleteUser()" data-dismiss="modal">Delete
                    Apartment</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="SearchModalLabel">Select Check-In and Check-Out</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="max-height: calc(100% - 120px)">
            <div class="container-fluid" style="height:100%;">
              <div class="row justify-content-center" style="height:100%; display: block;">

                <div class="col">
                  <div class="d-flex justify-content-center">
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                      outsideDays="hidden" [minDate]="todayDate">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused" let-disabled="disabled">
                      <span class="custom-day" [class.focused]="focused" [class.text-muted]="disabled"
                        [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>

                  </div>
                </div>


              </div>

            </div>


          </div>
          <div class="modal-footer">
            <div class="container" style="display: flex;flex-flow: row wrap;justify-content: center;">

              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>

            <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->

          </div>
        </div>
      </div>
    </div>
