﻿<div class="container-fluid  ">
        <form class="needs-validation pt-3" [formGroup]="editPasswordForm" #f="ngForm" (ngSubmit)="onSubmitPassword(f.value)">
          <div class="form-group row pt-3 justify-content-md-center">
            <label for="OldPasswordInput" class="col-sm-2 col-form-label ">Old Password</label>
            <div class="col-sm-3">
              <input type="password" name="oldPassword" formControlName="OldPassword" class="form-control " id="OldPasswordInput"
                placeholder="Old Password" [ngClass]="{
                'is-valid':OldPassword.valid && (OldPassword.dirty || OldPassword.touched),
                'is-invalid':OldPassword.invalid && (OldPassword.dirty || OldPassword.touched)
              }">
              <div class="invalid-feedback" *ngIf="OldPassword.errors && (OldPassword.dirty || OldPassword.touched)">
                <p *ngIf="OldPassword.errors.required">Repeated Password is required</p>
      
              </div>
            </div>
          </div>
      
      
      
          <div formGroupName="Matching_passwords_group">
            <div class="form-group row pt-3 justify-content-md-center">
              <label for="newPasswordInput" class="col-sm-2 col-form-label ">New Password</label>
              <div class="col-sm-3">
                <input type="password" name="newPassword" formControlName="NewPassword" pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}$'
                  class="form-control" id="newPasswordInput" placeholder="New Password" [ngClass]="{
                    'is-valid':NewPassword.valid && (NewPassword.dirty || NewPassword.touched),
                    'is-invalid':NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)
                  }">
                <div class="invalid-feedback" *ngIf="NewPassword.errors && (NewPassword.dirty || NewPassword.touched)">
                  <p *ngIf="NewPassword.errors.required">New Password is required</p>
                  <p *ngIf="NewPassword.errors.pattern">New Password must contain a number, lowercase and uppercase letter</p>
                  <p *ngIf="NewPassword.errors.minlength">New Password must be 6 characters long, we need another
                    {{NewPassword.errors.minlength.requiredLength
                    - NewPassword.errors.minlength.actualLength}} characters </p>
                    <p *ngIf="NewPassword.errors.maxlength">NewPassword is too long, delete {{NewPassword.errors.maxlength.actualLength
                        - NewPassword.errors.maxlength.requiredLength}} characters </p>
                </div>
              </div>
      
            </div>
      
            <div class="form-group row pt-3 justify-content-md-center">
              <label for="confirmPasswordInput" class="col-sm-2 col-form-label ">Confirm Password</label>
              <div class="col-sm-3">
                <input type="password" name="confirmPassword" formControlName="ConfirmPassword" class="form-control  " id="confirmPasswordInput"
                  placeholder="Confirm Password" [ngClass]="{
                      'is-valid':ConfirmPassword.valid && (ConfirmPassword.dirty || ConfirmPassword.touched),
                      'is-invalid':ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)
                    }">
                <div class="invalid-feedback" *ngIf="ConfirmPassword.errors && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                  <p *ngIf="ConfirmPassword.errors.required">Confirm Password is required</p>
                  <p *ngIf="ConfirmPassword.errors.MatchPassword">Passwords must be the same</p>
      
                </div>
              </div>
      
            </div>
          </div>
      
          <div class="form-group row pt-3 justify-content-md-center">
            <button class="btn btn-primary justify-content-md-center" [disabled]="!f.valid || disableBtn" type="submit">Edit
              Password</button>
          </div>
      
        </form>
      </div>