﻿<div class="container-fluid   justify-content-md-center">
    <div class="row">
        <div class="col-xs-6">
            <div class="wrapper ">

                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header d-flex justify-content-center" >
                        <h3>Sorting</h3>
                    </div>

                    <!-- Sidebar Links -->
                    <ul class="list-unstyled components">
                        <div class="container  justify-content-md-center">

                            <div class="col col-md-12" *ngIf="showReservations">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('NoSort')"
                                        value="No" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
                                    <label class="custom-control-label" for="defaultGroupExample1">No Sorting</label>
                                </div>


                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('High')"
                                        value="Edited" id="defaultGroupExample2" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample2">Highest price</label>
                                </div>

                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('Low')"
                                        value="Approved" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample3">Lowest price</label>
                                </div>
                            </div>
                        </div>
                    </ul>

                    <form class="needs-validation " [formGroup]="addSearchForm" #f="ngForm" (ngSubmit)="onSubmit(f)"
                        novalidate>
                        <div class="form-group row  justify-content-md-center">
                            <div class="col col-md-10">
                                <label for="UsernameInput">Username:</label>
                            </div>

                            <div class="col col-md-10">
                                <input type="text" name="Username" formControlName="UsernameControl"
                                    class="form-control  is-valid" id="UsernameInput" placeholder="Username" [ngClass]="{
          'is-valid':UsernameControl.valid && (UsernameControl.dirty),
          'is-invalid':UsernameControl.invalid && (UsernameControl.dirty || UsernameControl.touched)
        }">
                                <div class="invalid-feedback"
                                    *ngIf="UsernameControl.errors && (UsernameControl.dirty || UsernameControl.touched)">
                                    <p *ngIf="UsernameControl.errors.maxlength"><small>Username is too long,
                                            delete {{UsernameControl.errors.maxlength.actualLength
              - UsernameControl.errors.maxlength.requiredLength}} characters </small></p>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col col-md-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" (click)="GetReservations()">Search</button>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col" id="main">
            <div class="row">
                <div class="col col-md-8  float-left mt-1">
                    <h4 class="text-primary" style="margin-left:0%">
                        <small>Reservations</small>
                    </h4>
                </div>
                <div class="col col-md-4  mt-1">
                    <div *ngIf="dropdownVisible">
                        <ng-multiselect-dropdown [placeholder]="'Status'" [data]="dropdownListStatuses"
                            [(ngModel)]="selectedStatuses" [settings]="dropdownStatusesSettings"
                            (onSelect)="onSelectStatis($event)" (onSelectAll)="onSelectAllStatuses($event)"
                            (onDeSelectAll)="onDeSelectAllStatuses($event)" (onDeSelect)="onDeSelectStatus($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div *ngIf="!dropdownVisible">
                        <button class="btn btn-primary block" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>


            <div *ngIf="showReservationsWarning">
                <p class="text-warning">There are no Reservations</p>
            </div>
            <div >
                <table class="table  table-hover mt-2" *ngIf="showReservations">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Reservation date</th>
                            <th scope="col">Nights</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Commented</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let reservation of reservations ; let i = index"
                            (click)="reservationDetails(reservation,i)" data-toggle="modal"
                            data-target="#reservationModal">
                            <th scope="row">{{pageIndex*(pageIndex-1)+i+1}}</th>
                            <td>{{reservation.ReservationDate.slice(0,10)}}</td>
                            <td>{{reservation.NumOfNights}}</td>
                            <td>{{reservation.Price}}</td>
                            <td>{{reservation.Status.Description}}</td>
                            <td>
                                <p [ngStyle]="{'color': reservation.Commented? 'green' : 'red'}">{{true == reservation.Commented ? 'Yes' : 'No'
                                    }}</p>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class=" row justify-content-md-center" *ngIf="reservations!=null && reservations.length>0">

                        <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event">
                        </app-pager>
                    </div>
            </div>
            
        </div>
    </div>
</div>

<!-- reservationModal -->
<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{null != reservationData ? reservationData.ReservationDate.slice(0,10): 'no data' }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" *ngIf="showReservationData">
                    <div class="row justify-content-center">

                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Reservation Data</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Date:</th>
                                        <td>{{null != reservationData ? reservationData.ReservationDate.slice(0,10): 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nights:</th>
                                        <td>{{null != reservationData ? reservationData.NumOfNights: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Price:</th>
                                        <td>{{null != reservationData ? reservationData.Price: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status:</th>
                                        <td>{{null != reservationData ? reservationData.Status.Description: 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Commented:</th>
                                        <td>
                                            <p [ngStyle]="{'color': reservationData.Commented? 'green' : 'red'}">{{true == reservationData.Commented ? 'Yes' : 'No'
                                            }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address:</th>
                                        <td>{{null != reservationData ? reservationData.Apartment.Location[0].Address[0].StreetAndNumber: 'no data' }},
                                            {{null != reservationData ? reservationData.Apartment.Location[0].Address[0].City: 'no data' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Guest Data</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Name:</th>
                                        <td>{{null != reservationData.AppUser ? reservationData.AppUser.Name: 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Surname:</th>
                                        <td>{{null != reservationData.AppUser ? reservationData.AppUser.Surname: 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Gender:</th>
                                        <td>{{null != reservationData.AppUser ? reservationData.AppUser.Gender: 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Blocked:</th>
                                        <td>
                                            <p [ngStyle]="{'color': reservationData.AppUser.Blocked? 'red' : 'green'}">{{true == reservationData.AppUser.Blocked ? 'Yes' : 'No'
                                            }}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <div class="col col-md-5" style="margin-right:16%" *ngIf="reservationProgress">
                    <div class="progress" style="
                              display: flex;
                              flex-flow: row wrap;
                              justify-content: center;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>


                <button type="button" class="btn btn-primary" *ngIf="showReservationData" data-dismiss="modal"
                    [routerLink]="['/apartmentPage',reservationData.Apartment.Id]">Apartment</button>

               <!--  <button type="button" class="btn btn-success"
                    *ngIf="showReservationData && reservationData.Status.Description=='Created'"
                    (click)="AcceptReservation()" data-dismiss="modal">Accept</button>
                <button type="button" class="btn btn-warning"
                    *ngIf="showReservationData && reservationData.Status.Description=='Created'"
                    (click)="RejectReservation()" data-dismiss="modal">Reject</button>
                <button type="button" class="btn btn-success"
                    *ngIf="showCompletedButton && reservationData.Status.Description=='Accepted'"
                    (click)="CompleteReservation()" data-dismiss="modal">Completed</button> -->

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>