﻿<div class="container-fluid  ">
        <form class="needs-validation pt-3"  [formGroup]="editForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)" novalidate>
      
          <div class="form-group row pt-3 justify-content-md-center">
            <label for="UserNameInput" class="col-sm-2 col-form-label ">Username</label>
            <div class="col-sm-3">
              <input type="text" name="UserName" formControlName="UserName" [(ngModel)]="userData.UserName" class="form-control  is-valid" id="UserNameInput" [ngClass]="{
                  'is-valid':UserName.valid && (UserName.dirty || UserName.touched),
                  'is-invalid':UserName.invalid && (UserName.dirty || UserName.touched)
                }">
              <div class="invalid-feedback" *ngIf="UserName.errors && (UserName.dirty || UserName.touched)">
                <p *ngIf="UserName.errors.required">Name is required</p>
                <p *ngIf="UserName.errors.maxlength">UserName is too long, delete {{UserName.errors.maxlength.actualLength
                    - UserName.errors.maxlength.requiredLength}} characters </p>
              </div>
            </div>
          </div>
      
          <div class="form-group row pt-3 justify-content-md-center">
           <!--  <label for="emailInput" class="col-sm-2 col-form-label ">Email</label>
            <div class="col-sm-3">
              <input type="email" name="Email" formControlName="Email" class="form-control" [(ngModel)]="userData.Email" id="emailInput" placeholder="Email" [ngClass]="{
                  'is-valid':Email.valid && (Email.dirty || Email.touched),
                  'is-invalid':Email.invalid && (Email.dirty || Email.touched)
                }">
              <div class="invalid-feedback" *ngIf="Email.errors && (Email.dirty || Email.touched)">
                <p *ngIf="Email.errors.required">Email is required</p>
                <p *ngIf="Email.errors.pattern">Email format in not correct</p>
              </div>
            </div> -->
            <label for="NameInput" class="col-sm-2 col-form-label ">Name</label>
            <div class="col-sm-3">
              <input type="text" name="Name" formControlName="Name" [(ngModel)]="userData.Name" class="form-control  is-valid" id="NameInput" [ngClass]="{
                  'is-valid':Name.valid && (Name.dirty || Name.touched),
                  'is-invalid':Name.invalid && (Name.dirty || Name.touched)
                }">
              <div class="invalid-feedback" *ngIf="Name.errors && (Name.dirty || Name.touched)">
                <p *ngIf="Name.errors.required">Name is required</p>
                <p *ngIf="Name.errors.maxlength">Name is too long, delete {{Name.errors.maxlength.actualLength
                    - Name.errors.maxlength.requiredLength}} characters </p>
              </div>
            </div>
          </div>
      
      
      
          <div class="form-group row pt-3 justify-content-md-center">
            <!-- <label for="birthDateInput" class="col-sm-2 col-form-label ">Birthday</label>
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" [bsConfig]="bsConfig" placement="right" placeholder="Datepicker" [(ngModel)]="userData.BirthDate" formControlName="BirthDate" id="birthDateInput"
                  class="form-control" bsDatepicker [ngClass]="{
                          'is-valid':BirthDate.valid && (BirthDate.dirty || BirthDate.touched),
                          'is-invalid':BirthDate.invalid && (BirthDate.dirty || BirthDate.touched)
                        }">
                <div class="invalid-feedback" *ngIf="BirthDate.errors && (BirthDate.dirty || BirthDate.touched)">
                  <p *ngIf="BirthDate.errors.required">Birthday is required</p>
      
      
                </div>
      
              </div>
            </div> -->
            <label for="SurnameInput" class="col-sm-2 col-form-label ">Surname</label>
            <div class="col-sm-3">
              <input type="text" name="Surname" formControlName="Surname" [(ngModel)]="userData.Surname" class="form-control  is-valid" id="SurnameInput" [ngClass]="{
                  'is-valid':Surname.valid && (Surname.dirty || Surname.touched),
                  'is-invalid':Surname.invalid && (Surname.dirty || Surname.touched)
                }">
              <div class="invalid-feedback" *ngIf="Surname.errors && (Surname.dirty || Surname.touched)">
                <p *ngIf="Surname.errors.required">Surname is required</p>
                <p *ngIf="Surname.errors.maxlength">Surname is too long, delete {{Surname.errors.maxlength.actualLength
                    - Surname.errors.maxlength.requiredLength}} characters </p>
              </div>
            </div>
      
          </div>
          <div class="form-group row pt-3 justify-content-md-center"><!-- Fullname -->
            <label for="GenderInput" class="col-sm-2 col-form-label ">Gender</label>
            <div class="col-sm-3">
              <input type="text" name="Gender" formControlName="Gender" [(ngModel)]="userData.Gender" class="form-control  is-valid" id="GenderInput" [ngClass]="{
                  'is-valid':Gender.valid && (Gender.dirty || Gender.touched),
                  'is-invalid':Gender.invalid && (Gender.dirty || Gender.touched)
                }">
              <div class="invalid-feedback" *ngIf="Gender.errors && (Gender.dirty || Gender.touched)">
                <p *ngIf="Gender.errors.required">Gender is required</p>
                <p *ngIf="Gender.errors.maxlength">Gender is too long, delete {{Gender.errors.maxlength.actualLength
                    - Gender.errors.maxlength.requiredLength}} characters </p>
              </div>
            </div>
          </div>
          <!-- <div class="form-group row pt-3 justify-content-md-center">
            <div *ngIf="(userData!=null && userData.DocumentPicture==null) || (userData.Activated==false && userData.ProfileEdited==false)" class="row">
              <div class="col col-lg-4 col-lg-push-4">
                <img [src]="imageUrl" style="width:250px; height:150px">
                <br>
                <br>
                <input type="file" (change)="handleFileInput($event.target.files)" name="DocumentPicture"
                  #DocumentPicture accept="image/*">
      
                <br>
              </div>
            </div>
          </div> -->
         
          <div class="form-group row pt-3 justify-content-md-center">
            <button class="btn btn-primary justify-content-md-center" [disabled]="!f.valid" type="submit">Edit</button>
          </div>
        </form>
      </div>