﻿<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-6">
            <div class="wrapper ">
                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header d-flex justify-content-center">
                        <h3>Apartment</h3>
                    </div>

                    <!-- Sidebar Links -->

                    <div class="container">
                        <div class="row  justify-content-center">
                            <div class="col-12">



                                <table class="table mb-0">
                                    <tbody>

                                        <tr>
                                            <th scope="row " class="text-info">Host:</th>
                                            <td class="text-info">{{apartment!=null?apartment.AppUser.Name:'No Data' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Type:</th>
                                            <td class="text-info">
                                                {{apartment!=null?apartment.ApartmentType.Type:'No Data'}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Guests:</th>
                                            <td class="text-info">{{apartment!=null?apartment.NumOfGuests:'No Data'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Rooms:</th>
                                            <td class="text-info">{{apartment!=null?apartment.NumOfRooms:'No Data' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Check In:</th>
                                            <td class="text-info">
                                                {{apartment!=null?apartment.CheckInTime.slice(11,16):'No Data'}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Check Out:</th>
                                            <td class="text-info">
                                                {{apartment!=null?apartment.CheckOutTime.slice(11,16):'No Data'}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Price:</th>
                                            <td class="text-info">{{apartment!=null?apartment.Price:'No Data'}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Grade:</th>
                                            <td class="text-info">{{apartment!=null?apartment.Grade:'No Data'}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <ul class="list-unstyled components pt-0" id="list" #list>
                                    <div id="list" #list>
                                        <li>
                                            <div class="border border-primary"><a href="#" (click)="getComments()"
                                                    data-toggle="modal" data-target="#commentsModal"
                                                    class="text-center">View Coments</a></div>
                                        </li>
                                        <li *ngIf="appUserLog">
                                            <div class="border border-primary"><a href="#" (click)="getDisabledDates()"
                                                    data-toggle="modal" data-target="#reservationModal"
                                                    class="text-center">Rent Apartment</a></div>
                                        </li>

                                    </div>
                                </ul>




                                <!-- <ul class="list-unstyled components" id="list" #list>
                                    <div id="list" #list>


                                        <li>
                                            <h5 style="font-size:1vw;">Host:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.AppUser.Name:'No Data'}}</h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Type:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.ApartmentType.Type:'No Data'}}</h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Guests:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.NumOfGuests:'No Data'}}</h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Rooms:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.NumOfRooms:'No Data'}}</h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Check-In:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.CheckInTime.slice(11,16):'No Data'}}
                                                </h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Check-Out:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.CheckOutTime.slice(11,16):'No Data'}}
                                                </h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Price:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.Price:'No Data'}}</h5>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 style="font-size:1vw;">Grade:</h5>
                                            <ul>
                                                <h5 style="font-size:1vw;">
                                                    {{apartment!=null?apartment.Grade:'No Data'}}</h5>
                                            </ul>
                                        </li>

                                        <li>
                                            <div class="border border-primary"><a  href="#" (click)="getComments()"
                                                    data-toggle="modal" data-target="#commentsModal"
                                                    class="text-center">View Coments</a></div>
                                        </li>
                                    </div>
                                </ul> -->
                            </div>
                            <!-- <div class="col col-md-5">
                                <button type="button" class="btn btn-primary"
                                    (click)="GetAllApartmentsSearch()">Search</button>
                            </div> -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col mt-2" id="main">
            <div *ngIf="showApartmentWarning">
                <p class="text-warning">Apartment not found</p>
            </div>
            <div class="row mt-2" *ngIf="mainVisible">
                <div class="col-6 ">
                    <!--  <div class="col-12">
                        <div class=" d-flex justify-content-center">
                            <h4>Amenities</h4>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let amenity of apartment.Amenities">{{amenity.Type}}
                            </li>
                        </ul>
                    </div> -->

                    <div class="d-flex justify-content-center">
                        <div class="card border-primary" style="width: 18rem;">
                            <div class="card-header " style="height: 3rem;">
                                <h5 class="justify-content-md-center">Amenities</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let amenity of apartment.Amenities">{{amenity.Type}}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">


                        <div class="card border-primary">
                            <div class="card-header " style="height: 3rem;">
                                <h5 class="justify-content-md-center">Pictures</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <a>
                                    <div *ngIf="apartment.Pictures[0]!=undefined" id="carouselExampleIndicators"
                                        class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators"
                                                *ngFor="let picture of apartment.Pictures; let i = index"
                                                data-slide-to="i" [class.active]="isFirst"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item" data-slide-to="i+1"
                                                *ngFor="let picture of apartment.Pictures; let isFirst = first"
                                                [class.active]="isFirst">
                                                <img class="d-block w-100" style="width:250px; height:250px"
                                                    src='http://localhost:61619/api/apartment/getApartmentPictureData/?path={{picture.Data }}'
                                                    alt="">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                    <div *ngIf="apartment.Pictures[0]==undefined" id="carouselExampleIndicators"
                                        class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" style="width:200px; height:200px"
                                                    src="http://placehold.it/700x400" alt="">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </a>
                            </ul>
                        </div>



                        <!-- <a>
                            <div *ngIf="apartment.Pictures[0]!=undefined" id="carouselExampleIndicators"
                                class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators"
                                        *ngFor="let picture of apartment.Pictures; let i = index" data-slide-to="i"
                                        [class.active]="isFirst"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item" data-slide-to="i+1"
                                        *ngFor="let picture of apartment.Pictures; let isFirst = first"
                                        [class.active]="isFirst">
                                        <img class="d-block w-100" style="width:250px; height:250px"
                                            src='http://localhost:61619/api/apartment/getApartmentPictureData/?path={{picture.Data }}'
                                            alt="">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                            <div *ngIf="apartment.Pictures[0]==undefined" id="carouselExampleIndicators"
                                class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" style="width:200px; height:200px"
                                            src="http://placehold.it/700x400" alt="">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </a> -->
                    </div>
                    <div class="col-12 mt-2">


                        <div class="card border-primary">
                            <div class="card-header " style="height: 3rem;">
                                <h5 class="justify-content-md-center">Location</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <div id="map" class="map" #map></div>
                            </ul>
                        </div>


                        <!--  <openlayers ol-center="center" height="400px" width="100%">
                                    <ol-marker ol-marker-properties="santiago"><p ng-click="showDetails(santiago)">Santiago de Compostela</p></ol-marker>
                                    <ol-marker ol-marker-properties="finisterre" class="hidden"><span></span></ol-marker>
                                    <ol-marker ol-marker-properties="santacomba"></ol-marker>
                                  </openlayers> -->
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<!--comment view-->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="comments!=null && comments.length==0">
                    <p class="text-warning text-center">There are no Comments</p>
                </div>
                <div class="jumbotron jumbotron-fluid" *ngFor="let comment of comments; let i = index"
                    style="padding:0px">
                    <div class="container">
                        <h3 class="display-4" style="font-size:1.5vw;">{{comment.AppUser.Name}}</h3>
                        <h4 class="lead" style="font-size:1.8vw;">{{comment.Review}}</h4>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-6">
                                <p>Date: {{comment.PostedDate.slice(0,10)}}</p>
                            </div>
                            <div class="col-6" *ngIf="hostLog">
                                <div class="row">
                                    <div class="col-6 ">
                                        <p>Approved: </p>

                                    </div>
                                    <div class="col-6">
                                        <label class="switch">
                                            <input type="checkbox" (change)="setCheckBoxService($event,comment,i)"
                                                [checked]="comment.Approved==true">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col col-md-5" style="margin-right:16%">
                    <div class="progress" style="
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: center;" *ngIf="showModalProgress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>


    </div>

</div>

<!--reservation view-->
<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center" *ngIf="showDatePicker">
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                        [outsideDays]="visible" [minDate]="startDate" [maxDate]="endDate" [markDisabled]="isDisabled">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused" let-disabled="disabled" let-enabled="enabled">
                        <span class="custom-day" [class.focused]="focused" [class.text-muted]="disabled"
                            [class.text-primary]="enabled" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col col-md-5" style="margin-right:0%">
                    <div class="progress" style="
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: center;" *ngIf="!showDatePicker">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="col col-md-5" >
                    <button *ngIf="showDatePicker" type="button" class="btn btn-primary" [disabled]="rentButtonDisabled"
                        (click)="rentApartment()" data-dismiss="modal">Rent Apartment</button>
                </div>
                <div class="col col-md-2" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>