﻿

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* 
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
 */
  #main{
    margin-left: 250px;
    right: 0;
    top: 0;
}
  
/*   @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 */
  
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  height: 100vh;
  position: fixed;
  z-index: 99 !important;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #343A40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: rgb(33, 37, 41);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(33, 37, 41);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(33, 37, 41);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #030c35;
}




.container {
    min-height: 100%;
    overflow: hidden;
}

#nav, #content, #sidebar {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
















#serviceName, #rating {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}




.star {
    font-size: 1.5rem;
    color: #b0c4de;
    position: relative;
      display: inline-block;
  }
  /* .filled {
    color: #1e90ff;
  } */
  .full {
    color: #1e90ff;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #1e90ff;
  }

/*datePicker*/
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  .day {      
    text-align: center;
    padding: 7px;
    border-radius: 1rem;
    width: 100% !important;
  }
.ngb-dp-day{
    width: 100% !important;
    height: 100% !important;
  }
.ngb-dp-weekday{
   width: 100% !important;
   height: 100% !important;
}
/*divider (<hr>)*/
hr.divider
{ 
   margin-top: 0em;
   margin-bottom: 0em;
   border-width: 1px;
} 


.block {
  display: block;
  width: 100%;
  border: none;
  /* background-color: #4CAF50; */
  /* padding: 14px 28px;
  font-size: 16px; */
  cursor: pointer;
  text-align: center;
}

/*datePicker*/
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.day {      
  text-align: center;
  padding: 7px;
  border-radius: 1rem;
  width: 100% !important;
}
.ngb-dp-day{
  width: 100% !important;
  height: 100% !important;
}
.ngb-dp-weekday{
 width: 100% !important;
 height: 100% !important;
}
/*divider (<hr>)*/
hr.divider
{ 
 margin-top: 0em;
 margin-bottom: 0em;
 border-width: 1px;
} 


.block {
display: block;
width: 100%;
border: none;
/* background-color: #4CAF50; */
/* padding: 14px 28px;
font-size: 16px; */
cursor: pointer;
text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:disabled + .slider {
  background-color:  rgb(93, 121, 145);
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 