﻿<div class="container-fluid   justify-content-md-center">
    <div class="row">
        <div class="col-xs-6">
            <div class="wrapper ">

                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header d-flex justify-content-center">
                        <h3>Search</h3>
                    </div>

                    <!-- Sidebar Links -->
                    <ul class="list-unstyled components">
                        <div class="container  justify-content-md-center">

                            <div class="col col-md-12" *ngIf="isUser">
                                <!-- <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" (click)="setRadioUser('No')"
                                        value="No" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
                                    <label class="custom-control-label" for="defaultGroupExample1">No Searching</label>
                                </div>


                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioUser('Edited')"
                                        value="Edited" id="defaultGroupExample2" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample2">Edited First</label>
                                </div>

                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioUser('Approved')"
                                        value="Approved" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample3">Approved
                                        First</label>
                                </div> -->
                                <ng-multiselect-dropdown [placeholder]="'Role'" [data]="dropdownListRoles"
                                    [(ngModel)]="selectedRoles" [settings]="dropdownRolesSettings"
                                    (onSelect)="onSelectRole($event)" (onDeSelect)="onDeSelectRole($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <hr>
                            <div class="col col-md-12" *ngIf="isUser">
                                <ng-multiselect-dropdown [placeholder]="'Gender'" [data]="dropdownListGenders"
                                    [(ngModel)]="selectedGenders" [settings]="dropdownGendersSettings"
                                    (onSelect)="onSelectGender($event)" (onDeSelect)="onDeSelectGender($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <hr>
                            <form class="needs-validation " [formGroup]="addSearchForm" #f="ngForm"
                                (ngSubmit)="onSubmit( f)" novalidate>
                                <div class="form-group row  justify-content-md-center">
                                    <div class="col col-md-10">
                                        <label for="UsernameInput">Username:</label>
                                    </div>
                                    <!--  <div class=" col col-md-auto ">
                    <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                      City
                    </div>
                  </div> -->
                                    <div class="col col-md-10">
                                        <input type="text" name="Username" formControlName="UsernameControl"
                                            class="form-control  is-valid" id="UsernameInput" placeholder="Username"
                                            [ngClass]="{
                  'is-valid':UsernameControl.valid && (UsernameControl.dirty),
                  'is-invalid':UsernameControl.invalid && (UsernameControl.dirty || UsernameControl.touched)
                }">
                                        <div class="invalid-feedback"
                                            *ngIf="UsernameControl.errors && (UsernameControl.dirty || UsernameControl.touched)">
                                            <p *ngIf="UsernameControl.errors.maxlength"><small>Username is too long,
                                                    delete {{UsernameControl.errors.maxlength.actualLength
                      - UsernameControl.errors.maxlength.requiredLength}} characters </small></p>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="col col-md-12 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary"
                                    (click)="GetAllUsersSearch()">Search</button>
                            </div>

                            <hr>

                            <li>
                                <div class="border border-primary"><a href="#" data-toggle="modal"
                                        data-target="#hostModal" class="text-center">Add
                                        Host</a></div>
                            </li>
                            <!--   <li>
                                        <div class="border border-primary"><a href="#" (click)="getDisabledDates()"
                                                data-toggle="modal" data-target="#reservationModal"
                                                class="text-center">Rent Apartment</a></div>
                                    </li> -->


                            <!-- <div class="col col-md-7" *ngIf="!isUser">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" (click)="setRadioHost('No')"
                                        value="No" id="defaultGroupExample4" name="groupOfDefaultRadios" checked>
                                    <label class="custom-control-label" for="defaultGroupExample4">No Sorting</label>
                                </div>


                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioHost('Enabled')"
                                        value="Enabled" id="defaultGroupExample5" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample5">Enabled First</label>
                                </div>

                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioHost('Disabled')"
                                        value="Disabled" id="defaultGroupExample6" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample6">Disabled
                                        First</label>
                                </div>

                            </div> -->
                        </div>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="col" id="main">
            <div class="row">
                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" (click)="setTab('Guest')">
                        <a class="nav-link active" id="guests-tab" data-toggle="tab" href="#guests" role="tab"
                            aria-controls="guests" aria-selected="true">Guests</a>
                    </li>
                    <li class="nav-item" (click)="setTab('Host')">
                        <a class="nav-link" id="hosts-tab" data-toggle="tab" href="#hosts" role="tab"
                            aria-controls="hosts" aria-selected="false">Hosts</a>
                    </li>
                </ul> -->
                <div class="col">
                    <h4 class="text-primary mt-1" style="margin-left:0%">
                        <small>Registered Users</small>
                    </h4>
                </div>
            </div>


            <div *ngIf="showUsersWarning">
                <p class="text-warning">There are no Users</p>
            </div>
            <div>
                <table class="table  table-hover mt-2" *ngIf="showUsers">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Blocked</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users ; let i = index" (click)="userDetails(user,i)" data-toggle="modal"
                            data-target="#userModal">
                            <th scope="row">{{pageSize*(pageIndex-1)+i+1}}</th>
                            <td>{{user.UserName}}</td>
                            <td>{{user.Name}}</td>
                            <td>{{user.Surname}}</td>
                            <td>{{user.Gender}}</td>

                            <td>
                                <p [ngStyle]="{'color': user.Blocked? 'red' : 'green'}">{{true == user.Blocked ? 'Yes' : 'No'
                            }}</p>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class=" row justify-content-md-center" *ngIf="users!=null && users.length>0">

                    <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event">
                    </app-pager>
                </div>
            </div>


            <!-- <div *ngIf="showHostsWarning">
                <p class="text-warning">There are no Hosts</p>
            </div>
            <div *ngIf="showHosts">
                <table class="table  table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Num</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">BirthDate</th>
                            <th scope="col">Approved</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let host of hosts ; let i = index" (click)="hostDetails(host,i)" data-toggle="modal"
                            data-target="#hostModal">
                            <th scope="row">{{totalPagesNumberM*(pageIndexM-1)+i+1}}</th>
                            <td>{{host.FullName}}</td>
                            <td>{{host.Email}}</td>
                            <td>{{host.BirthDate.slice(0,10)}}</td>
                            <td>
                                <p [ngStyle]="{'color': host.Activated? 'green' : 'red'}">{{true == host.Activated ? 'Yes' :
                            'No'
                            }}
                                </p>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class=" row justify-content-md-center" *ngIf="hosts!=null && hosts.length>0">

                    <app-pager [page]="pageIndexM" [totalPages]="totalPagesNumberM" (changePage)="pageM=$event">
                    </app-pager>
                </div>
            </div> -->
        </div>

    </div>


</div>

<!-- UserModal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{null != userData ? userData.Name: 'no data' }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Profile Data</th>
                                        <th scope="col"></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">User ID:</th>
                                        <td>{{null != userData ? userData.Id: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Username:</th>
                                        <td>{{null != userData ? userData.UserName: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Name:</th>
                                        <td>{{null != userData ? userData.Name: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Surname:</th>
                                        <td>{{null != userData ? userData.Surname: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Gender:</th>
                                        <td>{{null != userData ? userData.Gender: 'no data' }}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th scope="row">Blocked:</th>
                                        <td>
                                            <p
                                                [ngStyle]="{'color': (userData!=null && true == userData.Blocked) ? 'green' : 'red'}">{{(userData!=null
                              && true == userData.Blocked) ? 'Yes': 'No'}}</p>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <th scope="row">Blocked:</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p
                                                        [ngStyle]="{'color': (userData!=null && true == userData.Blocked) ? 'red' : 'green'}">{{(userData!=null
                                  && true == userData.Blocked) ? 'Yes': 'No'}}</p>
                                                </div>
                                                <div class="col-4" *ngIf="!isAdmin">
                                                    <label class="switch">
                                                        <input type="checkbox" [disabled]="disableCheckButton"
                                                            (change)="setCheckBoxHost($event)"
                                                            [checked]="(userData!=null && userData.Blocked==true)">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="col">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="shadow p-3 mb-5 bg-white rounded">
                                        <div class="col">

                                            <div class="thumbnail">
                                                <img class="e2e-trusted-url" style="width:300px; height:300px"
                                                    [src]="img" alt="User Document">
                                                <div class="caption">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-4">

                                    <div class="col col-md-3"
                                        style="display: flex;flex-flow: row wrap;justify-content: center;">
                                        <button class="btn btn-danger" (click)="acceptUser(userData.UserId,false)"
                                            [disabled]="(userData==null || userData.DocumentPicture==null|| userData.ProfileEdited==false || userData.Activated==true  || disableButtons==true)">
                                            <span class="glyphicon glyphicon-remove"></span> Decline
                                        </button>
                                    </div>
                                    <div class="col col-md-3"
                                        style="display: flex;flex-flow: row wrap;justify-content: center;">
                                        <button class="btn btn-success" (click)="acceptUser(userData.UserId,true)"
                                            [disabled]="(userData==null || userData.DocumentPicture==null || userData.ProfileEdited==false || userData.Activated==true || disableButtons==true)">
                                            <span class="glyphicon glyphicon-ok"></span> Accept
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col col-md-5" style="margin-right:16%">
                    <div class="progress" style="
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;" *ngIf="userProgress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



<!-- hostModal -->
<div class="modal fade" id="hostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Host</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="container-fluid ">
                                <form class="needs-validation pt-3 pb-5" [formGroup]="addHostForm" #f="ngForm"
                                    (ngSubmit)="onSubmitHost(f.value, f)" novalidate>
                                    <div class=" row pt-3 justify-content-md-center">
                                        <div class="col-sm-6">
                                            <div class="form-group justify-content-md-center">
                                                <div class="row">
                                                    <label for="Username"
                                                        class="col-sm-12 col-form-label ">Username</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="Username" formControlName="Username"
                                                            class="form-control  is-valid" id="Username"
                                                            placeholder="Username" [ngClass]="{
                                                              'is-valid':Username.valid && (Username.dirty || Username.touched),
                                                              'is-invalid':Username.invalid && (Username.dirty || Username.touched)
                                                            }">
                                                        <div class="invalid-feedback"
                                                            *ngIf="Username.errors && (Username.dirty || Username.touched)">
                                                            <p *ngIf="Username.errors.required">Username is required
                                                            </p>
                                                            <p *ngIf="Username.errors.maxlength">Username is too long,
                                                                delete
                                                                {{Username.errors.maxlength.actualLength
                                                              - Username.errors.maxlength.requiredLength}} characters
                                                            </p>
                                                            <p *ngIf="Username.errors.minlength">Username is too short,
                                                                add
                                                                {{ Username.errors.minlength.requiredLength - Username.errors.minlength.actualLength}}
                                                                characters
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group justify-content-md-center">
                                                <div class="row">
                                                    <label for="Password"
                                                        class="col-sm-12 col-form-label ">Password</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="Password" formControlName="Password"
                                                            pattern='^(?=.*\d)(?=.*[a-z]).{6,}$'
                                                            class="form-control  is-valid" id="Password"
                                                            placeholder="Password" [ngClass]="{
                                                              'is-valid':Password.valid && (Password.dirty || Password.touched),
                                                              'is-invalid':Password.invalid && (Password.dirty || Password.touched)
                                                            }">
                                                        <div class="invalid-feedback"
                                                            *ngIf="Password.errors && (Password.dirty || Password.touched)">
                                                            <p *ngIf="Password.errors.required">Password is required
                                                            </p>
                                                            <p *ngIf="Password.errors.pattern">Password must contain a
                                                                number and lowercase letter</p>
                                                            <p *ngIf="Password.errors.maxlength">Password is too long,
                                                                delete
                                                                {{Password.errors.maxlength.actualLength
                                                              - Password.errors.maxlength.requiredLength}} characters
                                                            </p>
                                                            <p *ngIf="Password.errors.minlength">Password is too short,
                                                                add
                                                                {{ Password.errors.minlength.requiredLength - Password.errors.minlength.actualLength}}
                                                                characters
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group justify-content-md-center">
                                                <div class="row">
                                                    <label for="Name" class="col-sm-12 col-form-label ">Name</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="Name" formControlName="Name"
                                                            class="form-control  is-valid" id="Name" placeholder="Name"
                                                            [ngClass]="{
                                                              'is-valid':Name.valid && (Name.dirty || Name.touched),
                                                              'is-invalid':Name.invalid && (Name.dirty || Name.touched)
                                                            }">
                                                        <div class="invalid-feedback"
                                                            *ngIf="Name.errors && (Name.dirty || Name.touched)">
                                                            <p *ngIf="Name.errors.required">Name is required
                                                            </p>
                                                            <p *ngIf="Name.errors.maxlength">Name is too long,
                                                                delete
                                                                {{Name.errors.maxlength.actualLength
                                                              - Name.errors.maxlength.requiredLength}} characters
                                                            </p>
                                                            <p *ngIf="Name.errors.minlength">Name is too short,
                                                                add
                                                                {{ Name.errors.minlength.requiredLength - Name.errors.minlength.actualLength}}
                                                                characters
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group justify-content-md-center">
                                                <div class="row">
                                                    <label for="Surname"
                                                        class="col-sm-12 col-form-label ">Surname</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="Surname" formControlName="Surname"
                                                            class="form-control  is-valid" id="Surname"
                                                            placeholder="Surname" [ngClass]="{
                                                              'is-valid':Surname.valid && (Surname.dirty || TSurnameype.touched),
                                                              'is-invalid':Surname.invalid && (Surname.dirty || Surname.touched)
                                                            }">
                                                        <div class="invalid-feedback"
                                                            *ngIf="Surname.errors && (Surname.dirty || Surname.touched)">
                                                            <p *ngIf="Surname.errors.required">Surname is required
                                                            </p>
                                                            <p *ngIf="Surname.errors.maxlength">Surname is too long,
                                                                delete
                                                                {{Surname.errors.maxlength.actualLength
                                                              - Surname.errors.maxlength.requiredLength}} characters
                                                            </p>
                                                            <p *ngIf="Surname.errors.minlength">Surname is too short,
                                                                add
                                                                {{ Surname.errors.minlength.requiredLength - Surname.errors.minlength.actualLength}}
                                                                characters
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" [(ngModel)]="selectedGender" formControlName="Gender"
                                                class="form-control" name="selectedGender" style="display:none" />
                                            <label for="timepickerIn" class="form-label ">Gender</label>

                                            <div>
                                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                                    [placeholder]="'Gender'" [data]="dropdownListGender"
                                                    [(ngModel)]="selectedGender" [settings]="dropdownGenderSettings">
                                                </ng-multiselect-dropdown>

                                                <!--  <div *ngIf="!dropdownVisible">
                                                    <button class="btn btn-primary block" type="button" disabled>
                                                        <span class="spinner-border spinner-border-sm" role="status"
                                                            aria-hidden="true"></span>
                                                        Loading...
                                                    </button>
                                                </div> -->
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-2 d-flex justify-content-center">
                                            <button class="btn btn-primary" id="addBtn" [disabled]=" !f.valid"
                                                type="submit">Add
                                                Host</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col col-md-5" style="margin-right:16%" *ngIf="addAmenityProgress">
                        <div class="progress" style="
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>