﻿<div style="border: 1px solid red">rent-apartment Component</div>
<!-- <div class="d-flex justify-content-center" *ngIf="enabled">
        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
          [outsideDays]="visible" [minDate]="startDate" [maxDate]="endDate" [markDisabled]="isDisabled"> 
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused" let-disabled="disabled">
          <span class="custom-day" [class.focused]="focused" [class.text-muted]="disabled" [class.text-primary]="enabled"  [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>

      </div> -->
      <div class="d-flex justify-content-center" *ngIf="enabled">
            <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                [outsideDays]="visible" [minDate]="startDate" [maxDate]="endDate" [markDisabled]="isDisabled">
            </ngb-datepicker>

            <ng-template #t let-date let-focused="focused" let-disabled="disabled">
                <span class="custom-day" [class.focused]="focused" [class.text-muted]="disabled"
                    [class.text-primary]="enabled" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                </span>
            </ng-template>
        </div>