﻿<footer class="navbar navbar-default  navbar-dark bg-dark fixed-bottom" style="z-index: 100 !important;">

    <div class="container " style="margin-right: 0%;" style="
       display: flex;
       flex-flow: row wrap;
       justify-content: center;">
  
      <div class="col col-md-4">
        <div class="progress" *ngIf="showProgress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100" style="width: 100%">
          </div>
        </div>
        <div  style="margin-top:16px" *ngIf="!showProgress">
           
          
          </div>
  
      </div>
    </div>
  
  </footer>