﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5" id="navBar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{pageName}}</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" [routerLinkActive]="['active']" *ngIf="link1Visible">
            <a class="nav-link" [routerLink]="route1" href="#">{{link1}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="link2Visible">
            <a class="nav-link" [routerLink]="route2" href="#">{{link2}}</a>
  
          </li>
  
          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="link3Visible">
            <a class="nav-link" [routerLink]="route3" href="#">{{link3}}</a>
  
          </li>
          <li class="nav-item active" [routerLinkActive]="['active']" *ngIf="link4Visible">
            <a class="nav-link" [routerLink]="route4" href="#">{{link4}}</a>
          </li>
  
          <li class="nav-item">
              <div>
                <app-log-in (loggedOutEvent)="loggedOut()"></app-log-in>
              </div>
            </li>
         
        </ul>
  
      </div>
    </div>
  </nav>