﻿<div class="container mt-5 col-xl-6 justify-content-md-center">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Profile Data</th>
                <th scope="col"></th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th scope="row">Username:</th>
                <td>{{userData!=NULL?userData.UserName :'no data'}}</td>
            </tr>
            <tr>
                <th scope="row">Name:</th>
                <td>{{userData!=NULL?userData.Name :'no data'}}</td>
            </tr>
            <tr>
                <th scope="row">Surname:</th>
                <td>{{userData!=NULL?userData.Surname:'no data'}}</td>
            </tr>
            <tr>
                <th scope="row">Gender:</th>
                <td>{{userData!=NULL?userData.Gender:'no data'}}</td>
            </tr>
        </tbody>
    </table>


    <div class="container">
        <div class="row">
            <div class="col-sm" style="
            display: flex;
            flex-flow: row wrap;
            justify-content: center;">
                <button type="button" class="btn btn-primary" [routerLink]="['/editUser']">Edit Profile</button>
            </div>
            <div class="col-sm " style="
            display: flex;
            flex-flow: row wrap;
            justify-content: center;">
                <button type="button" class="btn btn-primary" [routerLink]="['/changePassword']">Change
                    Password</button>
            </div>
        </div>
        <hr>
       
    </div>
</div>