﻿<div class="container-fluid">
    <form class=" pt-3 " #f="ngForm" [formGroup]="regForm" (ngSubmit)="onSubmit(f.value, f)" novalidate>


        <div class="form-group row pt-3 justify-content-md-center">

            <label for="UsernameInput" class="col-sm-2 col-form-label ">Username</label>
            <div class="col-sm-3">
                <input type="text" name="Username" formControlName="Username" class="form-control " id="UsernameInput"
                    placeholder="Username" [ngClass]="{
                        'is-valid':Username.valid && (Username.dirty || Username.touched),
                        'is-invalid':Username.invalid && (Username.dirty || Username.touched)
                      }">
                <div class="invalid-feedback" *ngIf="Username.errors && (Username.dirty || Username.touched)">
                    <p *ngIf="Username.errors.required">Username is required</p>
                    <p *ngIf="Username.errors.maxlength">Username is too long, delete {{Username.errors.maxlength.actualLength
                          - Username.errors.maxlength.requiredLength}} characters </p>
                    <p *ngIf="Username.errors.minlength">Username must be 5 characters long, we need another
                        {{Username.errors.minlength.requiredLength
                        - Username.errors.minlength.actualLength}} characters </p>
                </div>

            </div>
        </div>

        <div formGroupName="Matching_passwords_group">
            <div class="form-group row pt-3 justify-content-md-center">
                <label for="passwordInput" class="col-sm-2 col-form-label ">Password</label>
                <div class="col-sm-3">
                    <input type="password" name="Password" formControlName="Password"
                        pattern='^(?=.*\d)(?=.*[a-z]).{6,}$' class="form-control" id="passwordInput"
                        placeholder="Password" [ngClass]="{
                  'is-valid':Password.valid && (Password.dirty || Password.touched),
                  'is-invalid':Password.invalid && (Password.dirty || Password.touched)
                }">
                    <div class="invalid-feedback" *ngIf="Password.errors && (Password.dirty || Password.touched)">
                        <p *ngIf="Password.errors.required">Password is required</p>
                        <p *ngIf="Password.errors.pattern">Password must contain a number and lowercase letter</p>
                        <p *ngIf="Password.errors.minlength">Password must be 6 characters long, we need another
                            {{Password.errors.minlength.requiredLength
                    - Password.errors.minlength.actualLength}} characters </p>
                        <p *ngIf="Password.errors.maxlength">Password is too long, delete {{Password.errors.maxlength.actualLength
                    - Password.errors.maxlength.requiredLength}} characters </p>
                    </div>
                </div>

            </div>

            <div class="form-group row pt-3 justify-content-md-center">
                <label for="repeatedPasswordInput" class="col-sm-2 col-form-label ">Repeat Password</label>
                <div class="col-sm-3">
                    <input type="password" name="RepeatedPassword" formControlName="RepeatedPassword"
                        class="form-control  " id="repeatedPasswordInput" placeholder="Repeat Password" [ngClass]="{
                    'is-valid':RepeatedPassword.valid && (RepeatedPassword.dirty || RepeatedPassword.touched),
                    'is-invalid':RepeatedPassword.invalid && (RepeatedPassword.dirty || RepeatedPassword.touched)
                  }">
                    <div class="invalid-feedback"
                        *ngIf="RepeatedPassword.errors && (RepeatedPassword.dirty || RepeatedPassword.touched)">
                        <p *ngIf="RepeatedPassword.errors.required">Repeated Password is required</p>
                        <p *ngIf="RepeatedPassword.errors.MatchPassword">Passwords must be the same</p>

                    </div>
                </div>

            </div>
        </div>

        <div class="form-group row pt-3 justify-content-md-center">

            <label for="NameInput" class="col-sm-2 col-form-label ">Name</label>
            <div class="col-sm-3">
                <input type="text" name="Name" formControlName="Name" class="form-control " id="NameInput"
                    placeholder="Name" [ngClass]="{
                        'is-valid':Name.valid && (Name.dirty || Name.touched),
                        'is-invalid':Name.invalid && (Name.dirty || Name.touched)
                      }">
                <div class="invalid-feedback" *ngIf="Name.errors && (Name.dirty || Name.touched)">
                    <p *ngIf="Name.errors.required">Name is required</p>
                    <p *ngIf="Name.errors.maxlength">Name is too long, delete {{Name.errors.maxlength.actualLength
                          - Name.errors.maxlength.requiredLength}} characters </p>
                </div>

            </div>
        </div>
        <div class="form-group row pt-3 justify-content-md-center">

            <label for="SurnameInput" class="col-sm-2 col-form-label ">Surname</label>
            <div class="col-sm-3">
                <input type="text" name="Surname" formControlName="Surname" class="form-control " id="SurnameInput"
                    placeholder="Surname" [ngClass]="{
                            'is-valid':Surname.valid && (Surname.dirty || Surname.touched),
                            'is-invalid':Surname.invalid && (Surname.dirty || Surname.touched)
                          }">
                <div class="invalid-feedback" *ngIf="Surname.errors && (Surname.dirty || Surname.touched)">
                    <p *ngIf="Surname.errors.required">Surname is required</p>
                    <p *ngIf="Surname.errors.maxlength">Surname is too long, delete {{Surname.errors.maxlength.actualLength
                              - Surname.errors.maxlength.requiredLength}} characters </p>
                </div>

            </div>
        </div>

        <div class="form-group row pt-3 justify-content-md-center">
            <input type="text" [(ngModel)]="selectedGender" formControlName="Gender" class="form-control"
                name="selectedGender" style="display:none" />
            <!-- <div class="invalid-feedback" *ngIf="Gender.errors && (Gender.dirty || Gender.touched)">
                <p *ngIf="Gender.errors.required">Gender is required</p>
            </div> -->

            <label for="timepickerIn" class="col-sm-2 col-form-label ">Gender</label>
            <div class="col-sm-3">
                <div>
                    <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}" [placeholder]="'Gender'"
                        [data]="dropdownListGender" [(ngModel)]="selectedGender" [settings]="dropdownGenderSettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>

        </div>

        <div class="form-group row pt-3 justify-content-md-center">
            <button class="btn btn-primary justify-content-md-center" [disabled]="!f.valid"
                type="submit">Register</button>
        </div>
    </form>
</div>