<div class="container-fluid ">

  <div class="row">
    <div class="col-xs-6">
      <div class="wrapper ">

        <nav id="sidebar">
          <!-- Sidebar Header -->
          <div class="sidebar-header d-flex justify-content-center">
            <h3>Selection</h3>
          </div>

          <!-- Sidebar Links -->

          <div class="container">
            <div class="row  justify-content-center">
              <!--  <div class=" col col-md-auto ">
                <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                  CHECK-IN - CHECK-OUT
                </div>
              </div> -->
              <div class="col col-md-10">
                <label for="DateInput">Check-in - Check-out:</label>
              </div>

              <!-- <div class=" col col-md-auto ">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Select
                        Dates</button>
    
    
                    </div> -->
              <div class=" col col-md-auto ">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="DateInput" [attr.disabled]="true" data-toggle="modal"
                    data-target="#searchModal" [(ngModel)]="dateString" placeholder="Check-In - Check-Out"
                    aria-label="Check-In - Check-Out" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2" data-toggle="modal"
                      data-target="#searchModal"><i class="fa fa-calendar-alt"></i></button>
                  </div>
                </div>
              </div>



              <!-- <div class="container">
            <div class="row  justify-content-center">
              <div class=" col-8 ">
                <div class="badge badge-primary text-nowrap " style="width: 8rem;">
                  From: {{fromDate.day}}.{{fromDate.month}}.{{fromDate.year}}.
                </div>
              </div>
            </div>
            <div class="row  justify-content-center">
              <div class=" col-8 ">
                <div class="badge badge-primary text-nowrap " style="width: 8rem;">
                  To: {{toDate.day}}.{{toDate.month}}.{{toDate.year}}.
                </div>
              </div>
            </div>
            <div class="row  justify-content-center">
              <div class=" col-8 ">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Select
                  Dates</button>
              </div>

            </div>
          </div> -->

              <!--  <div class="container">
            <div class="row  justify-content-center">
              <div class=" col col-md-auto ">
                <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                  CHECK-IN - CHECK-OUT
                </div>
              </div>


            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [attr.disabled]="true" data-toggle="modal"
              data-target="#searchModal" [(ngModel)]="dateString" placeholder="Check-In - Check-Out"
              aria-label="Check-In - Check-Out" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" id="button-addon2" data-toggle="modal"
                data-target="#searchModal">Dates</button>
            </div>
          </div> -->
              <!--  <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                Check-In - Check-Out
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="dateString" placeholder="Check-In - Check-Out" aria-label="Check-In - Check-Out" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2"  data-toggle="modal" data-target="#searchModal">Change</button>
                </div>
              </div> -->



              <form class="needs-validation " [formGroup]="addSearchForm" #f="ngForm" (ngSubmit)="onSubmit( f)"
                novalidate>
                <div class="form-group row  justify-content-md-center">
                  <div class="col col-md-10">
                    <label for="CityInput">City:</label>
                  </div>
                  <!--  <div class=" col col-md-auto ">
                    <div class="badge badge-primary text-nowrap " style="width: 12rem;">
                      City
                    </div>
                  </div> -->
                  <div class="col col-md-10">
                    <input type="text" name="City" formControlName="City" class="form-control  is-valid" id="CityInput"
                      placeholder="City" [ngClass]="{
                  'is-valid':City.valid && (City.dirty),
                  'is-invalid':City.invalid && (City.dirty || City.touched)
                }">
                    <div class="invalid-feedback" *ngIf="City.errors && (City.dirty || City.touched)">
                      <p *ngIf="City.errors.maxlength"><small>City is too long, delete {{City.errors.maxlength.actualLength
                      - City.errors.maxlength.requiredLength}} characters </small></p>
                    </div>
                  </div>
                </div>
              </form>


              <div class="col col-md-11">
                <label for="PriceSlider">Price Range:</label>
              </div>
              <div class="col col-md-11">
                <ng5-slider [(value)]="minPriceValue" id="PriceSlider" [(highValue)]="maxPriceValue"
                  [options]="PriceSlideOptions" (userChangeEnd)="GetNewPriceRange($event)"></ng5-slider>
              </div>

              <div class="col col-md-11">
                <label for="GuestSlider">Number of Guests:</label>
              </div>
              <div class="col col-md-11">
                <ng5-slider [(value)]="numOfGuests" id="GuestSlider" [options]="GuestSlideOptions"
                  (userChangeEnd)="GetNumOfGuests($event)"></ng5-slider>
              </div>

              <div class="col col-md-11">
                <label for="RoomSlider">Number of Rooms:</label>
              </div>
              <div class="col col-md-11">
                <ng5-slider [(value)]="numOfRooms" id="RoomSlider" [options]="RoomSlideOptions"
                  (userChangeEnd)="GetNumOfRooms($event)"></ng5-slider>
              </div>
              <div class="col col-md-5">
                <button type="button" class="btn btn-primary" [disabled]="!searchChecked"
                  (click)="GetAllApartmentsSearch()">Search</button>
              </div>
              <div class="col col-md-5">
                <label class="switch">
                  <input type="checkbox" (change)="setCheckBoxHost($event)" [checked]="searchChecked">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>





        </nav>

      </div>
    </div>

    <div class="col" id="main">
      <!-- <h4 class="text-primary text-center mt-1">
          <small>Available Apartments</small>
        </h4> -->

      <div class="row">
        <div class="col col-md-2">
          <h4 class="text-primary float-left mt-1">
            <small>Apartments</small>
          </h4>
        </div>
        <div *ngIf="adminLog==true || hostLog==true" class="col col-md-10">

          <div class="col col-md-3  float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Status'" [data]="dropdownApartmentStatuses"
                [(ngModel)]="selectedApartmentStatus" [settings]="dropdownApartmentStatusesSettings"
                (onSelect)="onSelectApartmentStatus($event)" (onDeSelect)="onDeSelectApartmentStatus($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>

          <div class="col col-md-3  float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Type'" [data]="dropdownApartmentTypes"
                [(ngModel)]="selectedApartmentType" [settings]="dropdownApartmentTypesSettings"
                (onSelect)="onSelectApartmentType($event)" (onDeSelect)="onDeSelectApartmentType($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>

          <div class="col col-md-3  float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Amenities'" [data]="dropdownListAmenities"
                [(ngModel)]="selectedAmenities" [settings]="dropdownAmenitiesSettings"
                (onSelect)="onSelectAmenity($event)" (onSelectAll)="onSelectAllAmenities($event)"
                (onDeSelectAll)="onDeSelectAllAmenities($event)" (onDeSelect)="onDeSelectAmenity($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>

          <div class="col col-md-3 float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Price'" [data]="dropdownPricesSort"
                [(ngModel)]="selectedPriceSort" [settings]="dropdownPricesSortSettings"
                (onDeSelect)="onDeSelectPriceSort($event)" (onSelect)="onSelectPriceSort($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="adminLog==false && hostLog==false" class="col col-md-10">
          <div class="col col-md-4  float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Type Sort'" [data]="dropdownApartmentTypes"
                [(ngModel)]="selectedApartmentType" [settings]="dropdownApartmentTypesSettings"
                (onSelect)="onSelectApartmentType($event)" (onDeSelect)="onDeSelectApartmentType($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>

          <div class="col col-md-4  float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Amenities'" [data]="dropdownListAmenities"
                [(ngModel)]="selectedAmenities" [settings]="dropdownAmenitiesSettings"
                (onSelect)="onSelectAmenity($event)" (onSelectAll)="onSelectAllAmenities($event)"
                (onDeSelectAll)="onDeSelectAllAmenities($event)" (onDeSelect)="onDeSelectAmenity($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>


          <div class="col col-md-4  float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Price sort'" [data]="dropdownPricesSort"
                [(ngModel)]="selectedPriceSort" [settings]="dropdownPricesSortSettings"
                (onDeSelect)="onDeSelectPriceSort($event)" (onSelect)="onSelectPriceSort($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>

          <!-- <div class="col col-md-4 float-left mt-1">
            <div *ngIf="dropdownVisible">
              <ng-multiselect-dropdown [placeholder]="'Price sort'" [data]="dropdownPricesSort"
                [(ngModel)]="selectedPriceSort" [settings]="dropdownPricesSortSettings"
                (onDeSelect)="onDeSelectPriceSort($event)" (onSelect)="onSelectPriceSort($event)">
              </ng-multiselect-dropdown>
            </div>
            <div *ngIf="!dropdownVisible">
              <button class="btn btn-primary block" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div> -->
        </div>
      </div>
      <hr class="divider">
      <div *ngIf="showApartmentWarning">
        <p class="text-warning">There are no Apartments</p>
      </div>
      <div class="row" *ngIf="cardsVisible ">
        <!-- <div class="col col-12" *ngIf="cardsVisible "> -->
        <div class="col-lg-3 col-md-5 mb-4" *ngFor="let apartment of apartmentsTemp; let j = index">
          <div class="card h-100">
            <a [routerLink]="['/apartmentPage',apartment.Id]">
              <img *ngIf="apartment.Pictures[0]==undefined" class="card-img-top d-block w-100"
                style="width:250px; height:250px"
                src='http://localhost:61619/api/apartment/getApartmentPictureData?path={{null}}' alt="">
              <img *ngIf="apartment.Pictures[0]!=undefined" class="card-img-top d-block w-100"
                style="width:250px; height:250px"
                src='http://localhost:61619/api/apartment/getApartmentPictureData/?path={{apartment.Pictures[0].Data }}'
                alt="">
            </a>
            <div class="card-body">
              <h5 class="card-title ">
                <a href="#" id="apartmentHostName" class="text-primary"
                  [routerLink]="['/apartmentPage',apartment.Id]">{{apartment.AppUser.Name}}</a>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted" id="apartmentCity">{{apartment.Location.length>0?apartment.Location[0].Address[0].City:'No Data'}}
              </h6>

              <div class="row">
                <div class="container" id="rating">
                  <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>

                  <ngb-rating rate="{{apartment.Grade}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- </div> -->
        <div class=" row justify-content-md-center" *ngIf="apartments!=null && apartments.length!=0">

          <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event"></app-pager>


        </div>
      </div>
    </div>
    <!-- <div class="col col-12" *ngIf="cardsVisible ">
      <div class="col-lg-3 col-md-5 mb-4" *ngFor="let apartment of apartments; let j = index">
        <div class="card h-100">
          <a>
            <img *ngIf="apartment.Pictures[0]==undefined" class="card-img-top d-block w-100"
              style="width:250px; height:250px"
              src='http://localhost:61619/api/apartment/getApartmentPictureData?path={{null}}' alt="">
            <img *ngIf="apartment.Pictures[0]!=undefined" class="card-img-top d-block w-100"
              style="width:250px; height:250px"
              src='http://localhost:61619/api/apartment/getApartmentPictureData/?path={{apartment.Pictures[0].Data }}'
              alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title ">
              <a href="#" id="apartmentHostName" class="text-primary">{{apartment.AppUser.Name}}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted" id="apartmentCity">{{apartment.Location[0].Address[0].City}}
            </h6>

            <div class="row">
              <div class="container" id="rating">
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                  </span>
                </ng-template>

                <ngb-rating rate="{{apartment.Grade}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class=" row justify-content-md-center" *ngIf="apartments!=null && apartments.length!=0">

      <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event"></app-pager>


    </div> -->




    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="SearchModalLabel">Select Check-In and Check-Out</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="max-height: calc(100% - 120px)">
            <div class="container-fluid" style="height:100%;">
              <div class="row justify-content-center" style="height:100%; display: block;">

                <div class="col">
                  <div class="d-flex justify-content-center">
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                      outsideDays="hidden" [minDate]="todayDate">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused" let-disabled="disabled">
                      <span class="custom-day" [class.focused]="focused" [class.text-muted]="disabled"
                        [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>

                  </div>
                </div>


              </div>

            </div>


          </div>
          <div class="modal-footer">
            <div class="container" style="display: flex;flex-flow: row wrap;justify-content: center;">

              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>

            <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->

          </div>
        </div>
      </div>
    </div>

  </div>