﻿<div class="container-fluid   justify-content-md-center">
    <div class="row">
        <div class="col-xs-6">
            <div class="wrapper ">

                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header d-flex justify-content-center">
                        <h3>Sorting</h3>
                    </div>

                    <!-- Sidebar Links -->
                    <ul class="list-unstyled components">
                        <div class="container  justify-content-md-center">

                            <div class="col col-md-12" *ngIf="showReservations">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('NoSort')"
                                        value="No" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
                                    <label class="custom-control-label" for="defaultGroupExample1">No Sorting</label>
                                </div>


                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('High')"
                                        value="Edited" id="defaultGroupExample2" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample2">Highest price</label>
                                </div>

                                <div class="custom-control custom-radio mt-3">
                                    <input type="radio" class="custom-control-input" (click)="setRadioPrice('Low')"
                                        value="Approved" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample3">Lowest price</label>
                                </div>
                            </div>
                        </div>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="col" id="main">
            <div class="row">
                <div class="col col-md-2">
                    <h4 class="text-primary mt-1" style="margin-left:0%">
                        <small>Reservations</small>
                    </h4>
                </div>
            </div>


            <div *ngIf="showReservationsWarning">
                <p class="text-warning">There are no Reservations</p>
            </div>
            <div *ngIf="showReservations">
                <table class="table  table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Reservation date</th>
                            <th scope="col">Nights</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Commented</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let reservation of reservations ; let i = index"
                            (click)="reservationDetails(reservation,i)" data-toggle="modal"
                            data-target="#reservationModal">
                            <th scope="row">{{pageIndex*(pageIndex-1)+i+1}}</th>
                            <td>{{reservation.ReservationDate.slice(0,10)}}</td>
                            <td>{{reservation.NumOfNights}}</td>
                            <td>{{reservation.Price}}</td>
                            <td>{{reservation.Status.Description}}</td>
                            <td>
                                <p [ngStyle]="{'color': reservation.Commented? 'green' : 'red'}">{{true == reservation.Commented ? 'Yes' : 'No'
                                }}</p>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class=" row justify-content-md-center" *ngIf="reservations!=null && reservations.length>0">

                    <app-pager [page]="pageIndex" [totalPages]="totalPagesNumber" (changePage)="page=$event">
                    </app-pager>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- reservationModal -->
<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{null != reservationData ? reservationData.ReservationDate.slice(0,10): 'no data' }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" *ngIf="showReservationData">
                    <div class="row justify-content-center">

                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Reservation Data</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Date:</th>
                                        <td>{{null != reservationData ? reservationData.ReservationDate.slice(0,10): 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nights:</th>
                                        <td>{{null != reservationData ? reservationData.NumOfNights: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Price:</th>
                                        <td>{{null != reservationData ? reservationData.Price: 'no data' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status:</th>
                                        <td>{{null != reservationData ? reservationData.Status.Description: 'no data' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Commented:</th>
                                        <td>
                                            <p [ngStyle]="{'color': reservationData.Commented? 'green' : 'red'}">{{true == reservationData.Commented ? 'Yes' : 'No'
                                        }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address:</th>
                                        <td>{{null != reservationData ? reservationData.Apartment.Location[0].Address[0].StreetAndNumber: 'no data' }},
                                            {{null != reservationData ? reservationData.Apartment.Location[0].Address[0].City: 'no data' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div class="container">
                                <form class="needs-validation pt-3 " #f="ngForm" (ngSubmit)="onSubmit(f.value)"
                                    *ngIf="reservationData.Commented==false && (reservationData.Status.Description=='Rejected' || reservationData.Status.Description=='Completed' )">
                                    <div class="row justify-content-center">

                                        <div class="col col-md-4">
                                            <label for="ReviewInput" class="col-sm-2 col-form-label ">Comment:</label>
                                        </div>
                                        <div class="col col-md-8">
                                            <textarea rows="3" name="Review" ngModel #Review="ngModel"
                                                class="form-control  is-valid" id="ReviewInput"
                                                placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row justify-content-center">
                                        <div class="col col-md-4">
                                            <label for="dLabel" class="col-sm-2 col-form-label ">Grade:</label>
                                        </div>
                                        <div class="col col-md-8">
                                            <div class="form-group">
                                                <!-- <button type="button" id="dLabel" required
                                                    class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    {{selectedGrade}}
                                                </button> -->
                                                <!-- <div class="dropdown-menu form-control  is-valid"
                                                    aria-labelledby="dLabel">

                                                   
                                                </div> -->
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        {{selectedGrade}}
                                                    </button>
                                                    <div class="dropdown-menu">


                                                        <a class="dropdown-item" (click)="GetSelectedGrade(1)">1</a>
                                                        <a class="dropdown-item" (click)="GetSelectedGrade(2)">2</a>
                                                        <a class="dropdown-item" (click)="GetSelectedGrade(3)">3</a>
                                                        <a class="dropdown-item" (click)="GetSelectedGrade(4)">4</a>
                                                        <a class="dropdown-item" (click)="GetSelectedGrade(5)">5</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row justify-content-center">
                                        <button class="btn btn-primary justify-content-md-center"
                                            [disabled]="!f.valid" type="submit">Submit
                                            Review
                                        </button>
                                    </div>


                                </form>
                                <!--                                   <div class="row justify-content-center" *ngIf="reservationData.Commented==true">
                  
                                    <div class="col col-md-4">
                                      <label for="CommentInput" class="col-sm-2 col-form-label ">Comment:</label>
                                    </div>
                                    <div class="col col-md-8">
                                      <p>{{null!=commentModel?commentModel.Review:'no data'}}</p>
                                      <p>Grade: {{null!=commentModel?commentModel.Grade:'no data'}}</p>
                                    </div>
                  
                                  </div> -->


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <div class="col col-md-5" style="margin-right:16%" *ngIf="reservationProgress">
                    <div class="progress" style="
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>


                <button type="button" class="btn btn-primary" *ngIf="showReservationData" data-dismiss="modal"
                    [routerLink]="['/apartmentPage',reservationData.Apartment.Id]">Apartment</button>

                <button type="button" class="btn btn-warning" (click)="CancelReservation()"
                    *ngIf="showCancelReservation" data-dismiss="modal">Cancel</button>


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>