﻿
.container {
    padding-top: 50px;
}
/*datePicker*/
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  .day {      
    text-align: center;
    padding: 7px;
    border-radius: 1rem;
    width: 100% !important;
  }
.ngb-dp-day{
    width: 100% !important;
    height: 100% !important;
  }
.ngb-dp-weekday{
   width: 100% !important;
   height: 100% !important;
}

::ng-deep .map {
  width: 100% !important;
  height: 100% !important;
}

.block {
  display: block;
  width: 100%;
  border: none;
  /* background-color: #4CAF50; */
  /* padding: 14px 28px;
  font-size: 16px; */
  cursor: pointer;
  text-align: center;
}