﻿<div class="container-fluid ">
    <form class="needs-validation pt-3 pb-5" [formGroup]="addApartmentForm" #f="ngForm"
        (ngSubmit)="onSubmit(f.value, f)" novalidate>
        <div class=" row pt-3">
            <div class="col-sm-6">


                <!--  <label for="ModelInput" class="col-sm-2 col-form-label ">Model</label>
            <div class="col-sm-3">
              <input type="text" name="Model" formControlName="Model" class="form-control" id="ModelInput" placeholder="Model"
                [ngClass]="{
                'is-valid':Model.valid && (Model.dirty || Model.touched),
                'is-invalid':Model.invalid && (Model.dirty || Model.touched)
              }">
              <div class="invalid-feedback" *ngIf="Model.errors && (Model.dirty || Model.touched)">
                <p *ngIf="Model.errors.required">Model is required</p>
                <p *ngIf="Model.errors.maxlength">Model is too long, delete {{Model.errors.maxlength.actualLength
                  - Model.errors.maxlength.requiredLength}} characters </p>
      
              </div>
      
            </div> -->
                <div class="col-sm-12">
                    <div class="row">
                        <input type="text" [(ngModel)]="selectedApartmentType" formControlName="ApartmentType"
                            class="form-control" name="selectedApartmentType" style="display:none" />
                        <label for="timepickerIn" class="col-sm-3 col-form-label ">Apartment Type</label>
                        <div class="col-sm-5">
                            <div *ngIf="dropdownVisible">
                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Apartment Type'" [data]="dropdownApartmentTypes"
                                    [(ngModel)]="selectedApartmentType" [settings]="dropdownApartmentTypesSettings">
                                </ng-multiselect-dropdown>
                            </div>
                            <div *ngIf="!dropdownVisible">
                                <button class="btn btn-primary block" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- form-group -->
                        <!-- <label for="ManufacturerInput" class="col-sm-2 col-form-label ">Manufacturer</label>
                        <div class="col-sm-3">
                          <input type="Manufacturer" name="Manufacturer" formControlName="Manufacturer" class="form-control  is-valid" id="ManufacturerInput"
                            placeholder="Manufacturer" [ngClass]="{
                              'is-valid':Manufacturer.valid && (Manufacturer.dirty || Manufacturer.touched),
                              'is-invalid':Manufacturer.invalid && (Manufacturer.dirty || Manufacturer.touched)
                            }">
                          <div class="invalid-feedback" *ngIf="Manufacturer.errors && (Manufacturer.dirty || Manufacturer.touched)">
                            <p *ngIf="Manufacturer.errors.required">Manufacturer is required</p>
                            <p *ngIf="Manufacturer.errors.maxlength">Manufacturer is too long, delete
                              {{Manufacturer.errors.maxlength.actualLength
                              - Manufacturer.errors.maxlength.requiredLength}} characters </p>
                  
                          </div>
                        </div> -->
                        <input type="text" [(ngModel)]="selectedAmenities" formControlName="Amenities"
                            class="form-control" name="selectedAmenities" style="display:none" />
                        <label for="timepickerIn" class="col-sm-3 col-form-label ">Amenities</label>
                        <div class="col-sm-5">
                            <div *ngIf="dropdownVisible">
                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Amenities'" [data]="dropdownListAmenities"
                                    [(ngModel)]="selectedAmenities" [settings]="dropdownAmenitiesSettings">
                                </ng-multiselect-dropdown>
                            </div>
                            <div *ngIf="!dropdownVisible">
                                <button class="btn btn-primary block" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- form-group -->
                        <input type="text" [(ngModel)]="selectedNumOfRooms" formControlName="NumOfRooms"
                            class="form-control" name="selectedNumOfRooms" style="display:none" />
                        <label for="timepickerIn" class="col-sm-3 col-form-label ">Number of Rooms</label>
                        <div class="col-sm-5">
                            <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                [placeholder]="'Number of Rooms'" [data]="dropdownListNumOfRooms"
                                [(ngModel)]="selectedNumOfRooms" [settings]="dropdownNumOfRoomsSettings">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <!--  <div *ngIf="!dropdownVisible">
                                        <button class="btn btn-primary block" type="button" disabled>
                                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                          Loading...
                                        </button>
                                      </div> -->
                </div>
                <div class=" col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- form-group -->
                        <input type="text" [(ngModel)]="selectedNumOfGuests" formControlName="NumOfGuests"
                            class="form-control" name="selectedNumOfGuests" style="display:none" />
                        <label for="timepickerIn" class="col-sm-3 col-form-label ">Number Of Guests</label>
                        <div class="col-sm-5">
                            <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                [placeholder]="'Number Of Guests'" [data]="dropdownListNumOfGuests"
                                [(ngModel)]="selectedNumOfGuests" [settings]="dropdownNumOfGuestsSettings">
                            </ng-multiselect-dropdown>
                        </div>
                        <!--  <div *ngIf="!dropdownVisible">
                                            <button class="btn btn-primary block" type="button" disabled>
                                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                              Loading...
                                            </button>
                                          </div> -->
                    </div>
                </div>


                <div class="form-group col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- HourlyPrice -->

                        <label for="CostPerNight" class="col-sm-3 col-form-label ">Cost per night</label>
                        <div class="col-sm-5">
                            <input type="text" name="CostPerNight" formControlName="CostPerNight"
                                class="form-control  is-valid" id="CostPerNight" placeholder="CostPerNight" [ngClass]="{
                          'is-valid':CostPerNight.valid && (CostPerNight.dirty || CostPerNight.touched),
                          'is-invalid':CostPerNight.invalid && (CostPerNight.dirty || CostPerNight.touched)
                        }">
                            <div class="invalid-feedback"
                                *ngIf="CostPerNight.errors && (CostPerNight.dirty || CostPerNight.touched)">
                                <p *ngIf="CostPerNight.errors.required">Cost per night is required</p>
                                <p *ngIf="CostPerNight.errors.maxlength">Cost per night is too long, delete
                                    {{CostPerNight.errors.maxlength.actualLength
                          - CostPerNight.errors.maxlength.requiredLength}} characters </p>
                                <p *ngIf="CostPerNight.errors.pattern">Cost per night format in not correct</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- form-group -->
                        <label for="timepickerIn" class="col-sm-3 col-form-label d-flex align-items-center">Check in
                            time</label>
                        <div class="col-sm-5">
                            <ngb-timepicker id="timepickerIn" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="CheckInTime"></ngb-timepicker>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- form-group -->
                        <label for="timepickerOut" class="col-sm-3 col-form-label d-flex align-items-center">Check out
                            time</label>
                        <div class="col-sm-5">
                            <ngb-timepicker id="timepickerOut" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="CheckOutTime"></ngb-timepicker>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 pt-3 justify-content-md-center">
                    <div class="row">
                        <!-- form-group -->

                        <label for="DateInput" class="col-sm-3 col-form-label ">Renting Period:</label>


                        <!-- <div class=" col col-md-auto ">
                                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Select
                                        Dates</button>
                    
                    
                                    </div> -->
                        <div class=" col col-sm-5 ">
                            <div class="input-group mb-3">
                                <input [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                                    id="DateInput" [attr.disabled]="true" data-toggle="modal" data-target="#searchModal"
                                    [(ngModel)]="dateString" placeholder="Check-In - Check-Out"
                                    aria-label="Check-In - Check-Out" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                        data-toggle="modal" data-target="#searchModal"><i
                                            class="fa fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>



                   
                </div>

            </div>


            <div class="col-sm-6">
                <div class=" col-sm-12 justify-content-md-center">
                    <!-- form-group -->
                    <div class="row">
                        <label for="map" class="col-sm-2 col-form-label ">Location</label>
                        <div class="col-sm-10">
                            <div id="map" class="map" #map></div>
                        </div>
                    </div>
                    <div class="row">
                            <div class=" col-sm-4  justify-content-md-center">
                                
                                    <div class="form-group justify-content-md-center">
                                            <div class="row">
                                                <!-- HourlyPrice -->
                        
                                                <label for="AddressNum" class="col-sm-12 col-form-label ">Address</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="AddressNum" formControlName="AddressNum"
                                                        class="form-control  is-valid" id="AddressNum" placeholder="Address and Number" [ngClass]="{
                                                  'is-valid':AddressNum.valid && (AddressNum.dirty || AddressNum.touched),
                                                  'is-invalid':AddressNum.invalid && (AddressNum.dirty || AddressNum.touched)
                                                }">
                                                    <div class="invalid-feedback"
                                                        *ngIf="AddressNum.errors && (AddressNum.dirty || AddressNum.touched)">
                                                        <p *ngIf="AddressNum.errors.required">Address is required</p>
                                                        <p *ngIf="AddressNum.errors.maxlength">Address is too long, delete
                                                            {{AddressNum.errors.maxlength.actualLength
                                                  - AddressNum.errors.maxlength.requiredLength}} characters </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                            
                            </div>
                            <div class=" col-sm-4  justify-content-md-center">
                                

                                    <div class="form-group justify-content-md-center">
                                            <div class="row">
                                                <!-- HourlyPrice -->
                        
                                                <label for="City" class="col-sm-12 col-form-label ">City</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="City" formControlName="City"
                                                        class="form-control  is-valid" id="City" placeholder="City" [ngClass]="{
                                                  'is-valid':City.valid && (City.dirty || City.touched),
                                                  'is-invalid':City.invalid && (City.dirty || City.touched)
                                                }">
                                                    <div class="invalid-feedback"
                                                        *ngIf="City.errors && (City.dirty || City.touched)">
                                                        <p *ngIf="City.errors.required">City is required</p>
                                                        <p *ngIf="City.errors.maxlength">City is too long, delete
                                                            {{City.errors.maxlength.actualLength
                                                  - City.errors.maxlength.requiredLength}} characters </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                            
                            </div>
                            <div class=" col-sm-4  justify-content-md-center">
                                    <div class="form-group justify-content-md-center">
                                            <div class="row">
                                                <!-- HourlyPrice -->
                        
                                                <label for="PostalCode" class="col-sm-12 col-form-label ">Postal Code</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="PostalCode" formControlName="PostalCode"
                                                        class="form-control  is-valid" id="PostalCode" placeholder="PostalCode" [ngClass]="{
                                                  'is-valid':PostalCode.valid && (PostalCode.dirty || PostalCode.touched),
                                                  'is-invalid':PostalCode.invalid && (PostalCode.dirty || PostalCode.touched)
                                                }">
                                                    <div class="invalid-feedback"
                                                        *ngIf="PostalCode.errors && (PostalCode.dirty || PostalCode.touched)">
                                                        <p *ngIf="PostalCode.errors.required">Postal Code is required</p>
                                                        <p *ngIf="PostalCode.errors.maxlength">Postal Code is too long, delete
                                                            {{PostalCode.errors.maxlength.actualLength
                                                  - PostalCode.errors.maxlength.requiredLength}} characters </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                            
                            </div>
                    </div>
                </div>
                <div class="col-sm-12">





                    <div>

                        <div>
                            <br>
                            <input type="file" ng2FileSelect accept=".png, .jpg"
                                [uploader]="uploader" multiple /><br />
                            <br>
                            <!--  <div class="drop-zone">
                                    <div ng2FileDrop [uploader]="uploader" class="drop-zone">
                                       Drag and drop files to upload
                                    </div>
                                    </div> -->
                            <table>
                                <thead>
                                    <tr>
                                        <th width="90%">
                                            File Name
                                        </th>
                                        <th width="10%">
                                            Remove
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <th width="90%">
                                            {{item.file.name}}
                                        </th>
                                        <th class="text-center" width="10%">
                                            <div (click)="item.remove()"><i class="far fa-trash-alt"></i></div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                         <!--    <button (click)="uploadSubmit()">Upload Data</button> -->
                        </div>

                    </div>










                </div>
                <!-- <div class="form-group row pt-3 justify-content-md-center">
            <label for="YearOfManufacturingInput" class="col-sm-2 col-form-label ">Year of Manufacturing</label>
            <div class="col-sm-3">
              <input type="YearOfManufacturing" name="YearOfManufacturing" formControlName="YearOfManufacturing" class="form-control  is-valid"
                id="YearOfManufacturingInput" placeholder="YearOfManufacturing" [ngClass]="{
                  'is-valid':YearOfManufacturing.valid && (YearOfManufacturing.dirty || YearOfManufacturing.touched),
                  'is-invalid':YearOfManufacturing.invalid && (YearOfManufacturing.dirty || YearOfManufacturing.touched)
                }">
              <div class="invalid-feedback" *ngIf="YearOfManufacturing.errors && (YearOfManufacturing.dirty || YearOfManufacturing.touched)">
                <p *ngIf="YearOfManufacturing.errors.required">Year Of Manufacturing is required</p>
                <p *ngIf="YearOfManufacturing.errors.maxlength">YearOfManufacturing is too long, delete
                  {{YearOfManufacturing.errors.maxlength.actualLength
                  - YearOfManufacturing.errors.maxlength.requiredLength}} characters </p>
                <p *ngIf="YearOfManufacturing.errors.pattern">Year Of Manufacturing format in not correct</p>
              </div>
            </div>
          </div> -->




                <div class=" row pt-3 justify-content-md-center">
                    <!-- form-group -->
                    <div class="row">
                        <!-- <div class="col col-lg-4 col-lg-push-4">
                <img [src]="imagesUrl[1]" style="width:250px; height:150px">
                <br>
                <br>
                <input type="file" formControlName="Pictures" (change)="handleFileInput($event.target.files)" name="Picture"
                  #Picture accept="image/*" [ngClass]="{
                  'is-valid':Pictures.valid && (Pictures.dirty || Pictures.touched),
                  'is-invalid':Pictures.invalid && (Pictures.dirty || Pictures.touched)
                }">
                <div class="invalid-feedback" *ngIf="Pictures.errors && (Pictures.dirty || Pictures.touched)">
                  <p *ngIf="Pictures.errors.required">Picture is required</p>
                </div>
                <br>
              </div>
              <div class="col col-lg-4 col-lg-push-4">
                <img [src]="imagesUrl[2]" style="width:250px; height:150px">
              </div>
              <div class="col col-lg-4 col-lg-push-4">
                <img [src]="imagesUrl[3]" style="width:250px; height:150px">
              </div> -->



                        <!-- <div class="col col-lg-4 col-lg-push-4">
                    <img [src]="imagesUrl[0]" style="width:250px; height:150px">
                    <br>
                    <br>
                    <input type="file" (change)="handleFileInput($event.target.files,0)" name="Picture" #Picture
                        accept="image/*">

                    <br>
                </div>
                <div class="col col-lg-4 col-lg-push-4">
                    <img [src]="imagesUrl[1]" style="width:250px; height:150px">
                    <br>
                    <br>
                    <input type="file" (change)="handleFileInput($event.target.files,1)" name="Picture" #Picture
                        accept="image/*">

                    <br>
                </div>
                <div class="col col-lg-4 col-lg-push-4">
                    <img [src]="imagesUrl[2]" style="width:250px; height:150px">
                    <br>
                    <br>
                    <input type="file" (change)="handleFileInput($event.target.files,2)" name="Picture" #Picture
                        accept="image/*">

                    <br>
                </div> -->
                    </div>
                </div>

                <div class="form-group row pt-3 mb-3 justify-content-md-center">
                    <!-- form-group -->
                    <div class="col">
                        <button class="btn btn-primary ml-auto" id="backBtn"
                            [routerLink]="['/apartments',rentServiceId]">Back</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" id="addBtn"
                            [disabled]="!f.valid || disableBtn || uploader.queue.length==0 || !locationAdded"
                            type="submit">Add Apartment</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SearchModalLabel">Select Check-In and Check-Out</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100% - 120px)">
                    <div class="container-fluid" style="height:100%;">
                        <div class="row justify-content-center" style="height:100%; display: block;">

                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2"
                                        [dayTemplate]="t" outsideDays="hidden" [minDate]="todayDate">
                                    </ngb-datepicker>

                                    <ng-template #t let-date let-focused="focused">
                                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                            [class.faded]="isHovered(date) || isInside(date)"
                                            (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                        </span>
                                    </ng-template>

                                </div>
                            </div>


                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <div class="container" style="display: flex;flex-flow: row wrap;justify-content: center;">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                    </div>

                    <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->

                </div>
            </div>
        </div>
    </div>
</div>